@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");

body {
  height: 100vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

button.key {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: white;
  border: none;
}

button:hover {
  background-color: rgb(228, 151, 218);
}

button[data-type="number"] {
  background-color: rgb(233, 218, 221);
}

button[data-type="memory"] {
  background-color: #51b29b;
}

button[data-type="clear"] {
  background-color: rgb(223, 162, 102);
}
button[data-type="equal"] {
  background-color: rgb(223, 102, 102);
}
.wrapper {
  background-color: #f6f8f9;
  /* width: 20rem; */
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 15px 3px 39px 8px rgba(0, 0, 0, 0.241);
  border: 1px solid black;
}

.display {
  color: white;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.594);
  height: 4rem;
  border: 1px black solid;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.keypad {
  display: grid;
  grid-template-areas:
    ". . . ac c"
    "ms mc mr m-minus m-plus"
    "seven eight nine percent square-root"
    "four five six multiply divide"
    "one two three add subtract"
    "zero decimal sign equal equal";
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.multiply {
  grid-area: multiply;
}

.divide {
  grid-area: divide;
}

.subtract {
  grid-area: subtract;
}

.percent {
  grid-area: percent;
}

.square-root {
  grid-area: square-root;
}

.add {
  grid-area: add;
}

.decimal {
  grid-area: decimal;
}

.sign {
  grid-area: sign;
}

.equal {
  grid-area: equal;
}
.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.m-minus {
  grid-area: m-minus;
}
.m-plus {
  grid-area: m-plus;
}

.ac {
  grid-area: ac;
}

.c {
  grid-area: c;
}
.ms {
  grid-area: ms;
}
.mc {
  grid-area: mc;
}
.mr {
  grid-area: mr;
}

.title {
  text-align: center;
}
