@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");

body {
  height: 100vh;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* .wrapper {
  background-color: black;
  height: 100vh;
} */

button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

button.key {
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  color: black;
  background-color: white;
  border: none;
}

button:hover {
  background-color: rgb(228, 151, 218);
}

.wrapper {
  background-color: #f6f8f9;
  /* width: 20rem; */
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 15px 3px 39px 8px rgba(0, 0, 0, 0.1);
}

.display {
  height: 4rem;
  border: 1px black solid;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.title {
  text-align: center;
}
